		

		body {background-color: thistle;
			padding-bottom:100px;
			font-family: verdana;
			margin: 0;
			text-align: start;
			}



		.nomargin {margin: 0;
		padding: 0;}
			
		h1 {font-size: 60px;background-color:tomato;margin: 0;
		text-align: center;padding: 40px;background-image: url(back.jpg);
		color: white;background-size: cover;}
		p {font-family: verdana}
		img {box-shadow: 5px 10px 10px grey;
				transition: all 0.2s   }
		img:hover {box-shadow:5px 20px 10px grey;
					transform: translateY(-3px); }
		pre {background-color: mediumseagreen;}

		
		button {
		  width: 140px;
		  height: 45px;
		  border-radius: 45px;
		  transition: all 0.2s ease 0s;
		  cursor: pointer;
		  }

		button:hover {
		  background-color: tomato;
		  box-shadow: 0px 15px 20px tomato;
		  transform: translateY(-3px);
		}

		#line1 {
			background-color: tomato;font-family: courier new; 
			color: black}
		p.error {background-color: mediumseagreen;}
		a:link {color: green; }
		a:visited {color: blue;}
		a:hover {color: tomato;}
		a:active {color: yellow; }
		blockquote {background-image: url('https://coolbackgrounds.io/images/backgrounds/white/white-unsplash-9d0375d2.jpg');
			background-size: cover;
			width: 400px}

		table {
			border-collapse: collapse;
		    border-spacing: 5px;/*it has no effect bcoz border-collapse: is enabled.*/
		    width: 100%;
		}
		th {color: #fff;
			background-color: #000;
		}

		td, th {
		  border: 1px solid #000;
		  text-align: left;
		  padding: 8px;
		}

		tr:nth-child(even) {
		  background-color: #dddddd;
		}

		#topNav {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  box-shadow:0px 5px 20px #001f2b;
		  overflow: hidden;
		  background-color: #00225e;
		  position: -webkit-sticky;
		  position: sticky;
		  top: 0;
		}

		#topNav li {
		  float: left;
		  width: 33.32%;
		  color: white;
		  text-align: center;
		  padding: 20px 0px;
		}

		#topNav li:hover {
		  background-color: #000;
		}

		.city {
			background-color: mediumseagreen;
			color: white;
			padding: 10px;
		}

		.main {
			text-align: center;
		}